/* css geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 1px;
    overflow-x: hidden;
    background-color: rgb(151, 136, 161);
   
}

.serviços-c{
    text-decoration: none;
    background-color: green;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    color: white;
   
}

.serviços-c:hover{
    background-color: white;
    color:  green;
    border: 2px solid black;
}
/* configuraçao do principal*/
#principal{
    display: flex;
    justify-content: space-between;
    flex: 100%;
    height: 150px;
    background-image: url(./fundo.webp);
    border: 2px solid black;
    border-radius: 8px;
}

.secador{
    width: 180px;
    padding: 15px;
}
.banheira{
    width: 120px;
    padding: 15px;
}

/* configuraçao do titulo*/

h1{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 55px;
}

@media screen and (max-width:602px){
    h1{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 25px;
        text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    }
    .secador{
        width: 90px;
        height: 90px;
        padding: 15px;
    }
    .banheira{
        width: 90px;
        height: 90px;
        padding: 15px;
    }

    #principal{
        display: flex;
        justify-content: space-between;
        flex: 100%;
        height: 90px;
        background-image: url(./fundo.webp);
        border: 2px solid black;
        border-radius: 8px;
    }

    
    
}
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width:360px) {
    #principal{
        display: flex;
        justify-content: space-between;
        flex: 100%;
        height: 100px;
        background-image: url(./fundo.webp);
        border: 2px solid black;
        border-radius: 8px;
    }

    h1{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 25px;
        text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    }

    .secador{
        width: 100px;
        height: 100px;
        padding: 15px;
    }
    .banheira{
        width: 100px;
        height: 100px;
        padding: 15px;
    }

    body{
        overflow-x: hidden;
        z-index: -10;
    }

    .serviços-c{
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: green;
        border-radius: 15px;
        padding: 10px;
        border: 2px solid white;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;
        color: white;
       
    }
    .serviços-c:hover{
        background-color: white;
        color:  green;
        border: 2px solid black;
    }
    
}

/*-----------------------------------------------------------------------------*/
/*sesviços banho*/
#banho{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.box-text-serviço p{
    font-size: 25px;
    width: 100%;
    padding: 40px;
    color: white;
  
}
.titulo-banho{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#banho img {
    width: 100%;
        
}

#banho a {
    display: flex;
}

#banho a img{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


/*sesviços toza*/

#tosa {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tosa img {
width: 100%;
    
}

#tosa a {
    display: flex;
}

#tosa a img{
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo-tosa{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    color: white;
}

/* footer */

footer{
    display: flex;
    background-color: rgb(62, 62, 80);
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}
footer img{
    margin-left: 10px;
    margin-right: 10px;
}
.copy{
    font: 20px;
    color: white;
}
